.cv
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    .cv__boton a
        display: inline-block
        text-align: center
        line-height: 70px
        width: 350px
        height: 70px
        margin-bottom: 35px
        border: none
        border-radius: 5px
        box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.42)
        background: #817A94
        color: #fff
        transition: .3s ease all
        cursor: pointer
        &:hover
            background: #000