.header
    text-align: center

.header__titulo
    margin: 45px 0 10px 0
    color:#fff

.header__subtitulo
    padding-bottom: 15px

.header__contenedor-items
    width: 100%
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    -webkit-box-align: start
    -ms-flex-align: start
    align-items: flex-start
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    border-radius: 5px

.header__items
    width: 30%
    height: 225px
    padding: 15px
    margin: 20px 0
    transition: .2s all ease
    i
        font-size: 45px
        padding-bottom: 15px
        color: #a9abb3
    .header__titulo-item
        color: #fff
        margin-bottom: 10px
    p 
        color: #a9abb3
        font-size: 15px
        transition: .2s all ease
    &:hover
        background: rgba(255, 255, 255, .1)
