@media (max-width: 700px)

  .menu-btn
    display: block
  
  .nav__main ul.nav__menu
    display: block
    position: absolute
    top: 0
    left: 0
    background: #000
    height: 100%
    transform: translateX(-400px)
    padding: 30px
    opacity: .9
    transition: transform .5s ease-in-out
  
  .nav__main ul.nav__menu.show
    transform: translateX(-20px)
  
  .nav-main ul.nav-menu li
    padding: 20px
    border-bottom: #333 solid 1px

  .nav__enlace
    color: #fff
    &:hover
      border-bottom: 2px solid #fff